body {
	font-family: Arial, sans-serif;
	text-align: center;
	background-color: #f4f4f4;
}
body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
    padding: 20px;
}

h1, h2 {
    color: #164c76;
}



